@import "../../vars.css";

.container{
    position: relative;
    background-color: rgba(12, 12, 12, 0.6);
    border-radius:15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}
.title {
    color: var(--color-text);
    font-size: 30px;
    font-weight: 600;
    text-decoration:none;
    text-transform: uppercase;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImage {
    width: 30%;
}

.aboutItems{
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    gap: 20px;
}

.aboutItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style:none;
    padding: 25px;
    background-image: linear-gradient(90deg, rgba(165,215,232,0.42)0%, rgba(255,255,255,0)100%);
    background-size: 0%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.aboutItem:hover{
    background-size:100%;
}

.aboutItem h3{
    font-size: 25px;
    font-weight: 600;
}

.aboutItem p{
    font-size: 21px;
}

@media screen and (max-width:830px) {
    .container{
         background-color: transparent;
         padding-left: 0;
         padding-right: 0;
         margin-top: 10px;
    }

    .content{
        flex-direction: column;
    }

    .aboutImage{
        display: none;
    }

    .aboutItems{
        margin-top: 29px;
    }

    .aboutItem{
        padding-left: 0;
        padding-right: 0;
    }
}